/*Global*/

.wrapper {
    width: 1600px;
    margin: 0 auto;
    background-color: blanchedalmond;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*Header*/

.header {
    background-image: url(../img/header-bear.jpg);
    height: 1000px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #FFFFFF;
    background-color: black;
    width: 133px;
    padding: 16px 16px 23px 23px;
    margin-left: 200px;
    margin-top: 50px;
}

.header_title {
    font-family: 'Raleway', sans-serif;
    font-size: 220px;
    float: right;
    color: #FFFFFF;
    margin-right: 174px;
}

/*Main*/

/*Footer*/