/*Header*/

.header {
    background-image: url(../img/header-bear.jpg);
    height: 1000px;
}

.header_logo img {
    width: 200px;
    height: 80px;
    padding-top: 3.125%;
    padding-left: 12.5%;
}

.header_title {
    color: #FFFFFF;
    margin: 0;
}

.header_title h1 {

    font-size: 220px;
    float: right;
    margin: 0;
}

.header_title p {
    font-size: 64px;
    float: right;
    margin: 0;
}

.header_text {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;

}